<div id="headerContainer">
    <h1>Labs Learning</h1>

    <div id="navLinks">
        <div id="myLinks">
            <a href="index">Home</a>
            <a href="pong">Week 2</a>
            <a href="sidescroll">Week 3</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerFunction()">
            <i class="fa fa-bars" style="color:#80ced6"></i>
        </a>
    </div>
    
</div>
