<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./public/headerStyle.css" type="text/css" />
    <title>Labs Learning</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>


</body>

</html>
