<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./public/headerStyle.css" type="text/css" />
    <link rel="stylesheet" href="./public/mainStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Labs Learning</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>
    <div id="mainContent">
        <h1>Welcome Loopy</h1>
    </div>
</body>

</html>
