<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./public/headerStyle.css" type="text/css" />
    <link rel="stylesheet" href="./public/mainStyles.css" type="text/css" />
    <link rel="stylesheet" href="./public/lotideStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Labs Learning</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>

    <div id="mainContent">
      <h1>Welcome to Lotide</h1>

        <div id="assertContainer">
            <div id="assertTitle">
                <h1>A<br>S<br>S<br>E<br>R<br>T
                </h1>
            </div>
            <div id="internalAssertContainer">
                <p>Here we will explore the assert function.</p>

                <label for="assert1">Please enter the first value to compare.</label>
                <input type="text" id="assert1"  class="lotideInput">
                <br>
                <label for="assert2">Please enter the second value to compare.</label>
                <input type="text" id="assert2" class="lotideInput">
                <br>
                <button id="assertButton" onclick="assertFunction1 ()">Assert!</button>
                <h1 id="assertOutput1"></h1>
            </div>
        </div>

        <div id="headContainer">
            <div id="headTitle">
                <h1>H<br>E<br>A<br>D
                </h1>
            </div>
            <div id="internalHeadContainer">
                <p>Here we will explore arrays and positioning.</p>

                <label for="head1">Please enter a new value for your array.</label>
                <input type="text" id="head1" class="lotideInput">
                <br>
                <button id="headButton" onclick="pushFunction ()">Push</button>
                <br>
                <label for="head2">Please select a position from your array.</label>
                <input type="text" id="head2" class="lotideInput">
                <br>
                <button id="headPositionButton" onclick="positionFunction ()">Select</button>
                <h1 id="headOutput2"></h1>
            </div>
        </div>

    </div>

</body>

<script>
    function assertFunction1 () {
        if (document.getElementById("assert1").value === document.getElementById("assert2").value){
            document.getElementById("assertOutput1").innerHTML = "Assertion Success! 😺 ";
            console.assert(document.getElementById("assert1").value === document.getElementById("assert2").value);
            console.log("Assertion Success!");
        } else if (document.getElementById("assert1").value !== document.getElementById("assert2").value){
            console.assert(document.getElementById("assert1").value === document.getElementById("assert2").value);
            console.log("Assertion Failed!");
            document.getElementById("assertOutput1").innerHTML = "Assertion Failed! 😾 ";
        }
    }

    var newArray = [];

    function pushFunction () {
        var newWord = document.getElementById("head1").value;
        console.log("Your new word is : " + newWord);
        newArray.push(newWord);
        for (x = 0; x < newArray.length; x ++){
            console.log(newArray[x]);
        }
        document.getElementById("head1").value = "";
    }

    function positionFunction () {
        var newValue = document.getElementById("head2").value - 1;
        console.log(newArray[newValue]);
        document.getElementById("headOutput2").innerHTML = newArray[newValue];
        document.getElementById("head2").value = "";
    }
</script>

</html>
