<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./public/headerStyle.css" type="text/css" />
    <link rel="stylesheet" href="./public/mainStyles.css" type="text/css" />
    <link rel="stylesheet" href="./public/lotideStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Labs Learning</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>

    <div id="mainContent">
      <h1>Welcome to Lotide</h1>

        <div id="assertContainer">
            <div id="assertTitle">
                <h1>A<br>S<br>S<br>E<br>R<br>T
                </h1>
            </div>
            <div id="internalAssertContainer">
                <p>Here we will explore the assert function.</p>

                <label for="assert1">Please enter the first value to compare.</label>
                <input type="text" id="assert1">
                <br>
                <label for="assert2">Please enter the second value to compare.</label>
                <input type="text" id="assert2">
                <br>
                <button onclick="assertFunction1 ()">Assert!</button>
                <h1 id="assertOutput1"></h1>
            </div>
        </div>

    </div>

</body>

<script>
    function assertFunction1 () {
        if (document.getElementById("assert1").value === document.getElementById("assert2").value){
            document.getElementById("assertOutput1").innerHTML = "Assertion Success!";
            console.assert(document.getElementById("assert1").value === document.getElementById("assert2").value);
            console.log("Assertion Success!");
        } else if (document.getElementById("assert1").value !== document.getElementById("assert2").value){
            console.assert(document.getElementById("assert1").value === document.getElementById("assert2").value);
            console.log("Assertion Failed!");
            document.getElementById("assertOutput1").innerHTML = "Assertion Failed!";
        }
    }
</script>

</html>
