<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./public/headerStyle.css" type="text/css" />
    <link rel="stylesheet" href="./public/mainStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Labs Learning</title>
</head>

<body>
    <%- include ('partials/header.ejs') %>
    <div id="mainContent">
      <h1>Welcome to week 1</h1>
    </div>

    <div id="weekContainer">
      <div id="moduleTitle">
          <h1>S<br>U<br>M
          </h1>
      </div>
      <div id="internalWeekContainer">
          <p class="moduleHeaders">Here we will explore the sum function.</p>

          <label for="assert1">Please enter the first value.</label>
          <input type="text" id="sum1"  class="moduleInput">
          <br>
          <label for="assert2">Please enter the second value.</label>
          <input type="text" id="sum2" class="moduleInput">
          <br>
          <button id="sumButton" class="moduleButton" onclick="sumFunction ()">Sum!</button>
          <h1 id="moduleOutput1"></h1>
      </div>
    </div>

    <div id="weekContainer">
      <div id="moduleTitle">
          <h1>M<br>I<br>N
          </h1>
      </div>
      <div id="internalWeekContainer">
          <p class="moduleHeaders">Here we will explore the min function.</p>

          <label for="assert1">Please enter a value.</label>
          <input type="text" id="min1"  class="moduleInput">
          <button id="pushButton" class="moduleButton" onclick="pushFunction ()">Push</button>
          <br>
          <button id="minButton" class="moduleButton" onclick="minFunction ()">Min!</button>
          <h1 id="moduleOutput2"></h1>
      </div>
    </div>


</body>

<script>
  function sumFunction () {
    var newValue1 = document.getElementById("sum1").value;
    var newValue2 = document.getElementById("sum2").value;
    var sumValue = +newValue1 + +newValue2;

    document.getElementById("sum1").value = "";
    document.getElementById("sum2").value = "";
    document.getElementById("moduleOutput1").innerHTML = sumValue;
  }

  var newArray = [];

  function pushFunction () {
        var newMin = document.getElementById("min1").value;
        newArray.push(newMin);
        for (x = 0; x < newArray.length; x ++){
            console.log(newArray[x]);
        }
        document.getElementById("min1").value = "";
  }

  var minValue;

  function minFunction () {
    minValue = newArray[0];
    console.log("minValue is : " + minValue);
    for (x = 0; x <= newArray.length; x ++){
            if (minValue <= newArray[x]){
              minValue = newArray[x];
              console.log(minValue);
            }
    }
        document.getElementById("moduleOutput2").innerHTML = minValue;
  }

</script>

</html>
